.waiting-list-panel-wrapper {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 3px 3px #888888;
  justify-content: center;
  padding: 5px;
  flex-direction: column;
}

.waiting-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
  flex-direction: row;
}

.new-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
  flex-direction: row;
}

.blue-icon {
  color: #0275d8 !important;
  padding-left: 30px
}

.add-div {
  position: relative;
  right: 45px;
  top: 20px;
}




