<div [@detailExpand] class="waiting-list-panel-wrapper">

  <div class="waiting-list-wrapper">

    <mat-table #table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="added" class="">
        <mat-header-cell *matHeaderCellDef mat-sort-header="added"> Date Added </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let waiting"> {{waiting.dateAdded}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Full Name </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let waiting"> {{waiting.fullName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header="contact"> Contact </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let waiting"> {{waiting.contactInfo[0].data}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pax" class="min-width-number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="pax"> Pax </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let waiting"> {{waiting.pax}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tour" class="min-width-number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="waiting"> Tour </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let waiting"> {{waiting.tour.tourDeparture.tourCode}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tourDate" class="">
        <mat-header-cell *matHeaderCellDef mat-sort-header="waitingDate"> waiting Date </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let waiting"> {{waiting.tour.tourDeparture.tourDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef > Actions
          <a title="Add to Waiting List" target="data" class="blue-icon icon-padding pointer" (click)="showNewRow($event)">
            <i id="enquiryIcon" class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </mat-header-cell>
        <mat-cell *matCellDef="let waiting">
          <div class="icon-box font-m center-icons">
            <i class="pointer">Delete</i>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;">

      </mat-row>

    </mat-table>

  </div>

  <div *ngIf="showNewWaitingRow" class="new-row" >

    <app-autocomplete-simple class="flex-item" [text]="'Date Added'"
                             [width]="80"></app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" [text]="'Full Name'"
                             [width]="80"></app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" [text]="'Contact'"
                             [width]="80"></app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" [text]="'Pax'"
                             [width]="80"></app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" [text]="'Tour Code'"
                             [width]="80"></app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" [text]="'Tour Date'"
                             [width]="80"></app-autocomplete-simple>
  </div>

</div>
