<div class="account-panel">

  <mat-expansion-panel [expanded]="true"  hideToggle="true"
                       [disabled]="false" multi="true">

    <mat-expansion-panel-header>
      <mat-panel-title>Customer Account</mat-panel-title>
      <mat-panel-description>Enter customer name and contact information</mat-panel-description>
    </mat-expansion-panel-header>

    <app-dynamic-form [config]="config"></app-dynamic-form>

  </mat-expansion-panel>

</div>
