<form class="enquiry-pax-form">
  <app-autocomplete-simple *ngIf="showFullAccommodation" class="flex-item" (onOptionSelected)="setAccommodation($event, 'First')"
                           [text]="'First Choice'" [options]="listService.accommChoices" ></app-autocomplete-simple>
  <app-autocomplete-simple *ngIf="showFullAccommodation" class="flex-item" (onOptionSelected)="setAccommodation($event, 'Second')"
                           [text]="'Second Choice'" [options]="listService.accommChoices" ></app-autocomplete-simple>

  <app-autocomplete-simple *ngIf="showPackageAccommodation" class="flex-item" (onOptionSelected)="setAccommodation($event, 'First')"
                           [text]="'First Choice'" [options]="listService.accommChoicesAgent" ></app-autocomplete-simple>
</form>

<form class="acc-form" *ngIf="showPackageAccommodation">

  <form class="acc-form-center" >
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'AdultShare')" [text]="'Adult room share'"
                             [options]="listService.roomCount" [width]="120" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Single')" [text]="'Adult single'"
                             [options]="listService.roomCount" [width]="120" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'ChildShare')" [text]="'Child room share'"
                             [options]="listService.roomCount" [width]="120" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>
  </form>

</form>

<form class="acc-form" *ngIf="showFullAccommodation">

  <form class="acc-form-left" >
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Single')" [text]="'Single'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Double')" [text]="'Double'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Twin')" [text]="'Twin'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Family')" [text]="'Family'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
    </app-autocomplete-simple>
  </form>

  <form class="acc-form-right" *ngIf="showSecondChoiceRooms">
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Single')" [text]="'Single'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
    </app-autocomplete-simple>
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Double')" [text]="'Double'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
    </app-autocomplete-simple>

    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Twin')" [text]="'Twin'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
    </app-autocomplete-simple>
    <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Family')" [text]="'Family'"
                             [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
    </app-autocomplete-simple>
  </form>

</form>
