<div class="new-booking-wrapper">

  <mat-accordion class="example-headers-align" multi="true">

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true" multi="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Booking Type
        </mat-panel-title>
        <mat-panel-description>
          Enter type and references
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" min="1" placeholder="Age">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <app-account-panel></app-account-panel>

    <!--<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true"-->
                         <!--[disabled]="false" multi="true">-->
      <!---->
      <!--<mat-expansion-panel-header>-->
        <!--<mat-panel-title>Customer Account</mat-panel-title>-->
        <!---->
        <!--<mat-panel-description>Enter customer name and contact information-->
          <!--<mat-icon>map</mat-icon>-->
        <!--</mat-panel-description>-->
      <!--</mat-expansion-panel-header>-->

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Country">-->
      <!--</mat-form-field>-->
      <!---->
    <!--</mat-expansion-panel>-->

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true" multi="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tour Participant
        </mat-panel-title>
        <mat-panel-description>
          Enter number of participants
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="A Date">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true" multi="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accommodation
        </mat-panel-title>
        <mat-panel-description>
          Enter participants accommodation Choices
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="A Date">-->
      <!--</mat-form-field>-->

      <app-accommodation-panel [tour]="tour"></app-accommodation-panel>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</div>


