.task-list {
    border: solid 0px darkgray;
    border-radius: 2px;
    position: absolute;
    width: 80px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: hidden;
}

.task-list > div
{
  width: 80px;
  height: 300px;
  white-space: nowrap;
  animation: slide infinite 5s alternate;
}

.task-list:hover > div
{
  animation-play-state: paused;
}

/** This example works with 10 task panels, the calculation is as follows:
 *  - Height of list is 300px
 *  - Each panel is 50px IE 500px in height
 *  - With margins etc the panel will always show 5 'and a bit' panels
 *  - So max '100%' margin-top to show the last 5 panels = 5 * 50px = 250px
 */
@keyframes slide {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -52.5px;
  }
  50% {
    margin-top: -125px;
  }
  75% {
    margin-top: -177.5px;
  }
  100% {
    margin-top: -250px;
  }
}
