<mat-form-field>
  <input type="text" placeholder="{{placeholder}}" aria-label="Number" [formControl]="control" matInput [matAutocomplete]="auto">
  <mat-error *ngIf="control.invalid">{{getErrorMessage()}}</mat-error>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
