<!--The content below is only a placeholder and can be replaced.-->
<div class="mainContainer">

  <app-top-nav></app-top-nav>

  <app-task-list *ngIf="appStateService.showTaskListAtPositionX != 0"></app-task-list>

  <router-outlet></router-outlet>

</div>


