.mainContainer {
  background-image:url("../assets/LNESS_bg_1920_X_491.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

