<mat-form-field>
  <input matInput disabled="{{disabled}}" #message maxlength="256" placeholder="" value="{{prefix + value}}">
  <mat-hint align="start"><strong>{{hintText}}</strong> </mat-hint>
</mat-form-field>
