<div [@detailExpand] class="exp-panel-wrapper">

    <!--<div class="aside title-tour-numbers header-text">Tour Enquiry - Bookings-->

      <!--<app-reserved-list-panel [tour]="tour"></app-reserved-list-panel>-->

    <!--</div>-->

    <div class="stepper-div header-text">Select Agent, Pax and Accommodation

      <app-enquiry-step-panel [tour]="tour"></app-enquiry-step-panel>

    </div>

    <div class="aside prices-confirm header-text">Prices

      <app-price-list-panel [tour]="tour"></app-price-list-panel>

    </div>

</div>
