.exp-panel-wrapper {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 3px 3px #888888;
}

.header-text {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  margin: 5px 5px;
  text-align: center;
}

.title-tour-numbers {
  min-height: 100px;
}

.prices-confirm {
  //height: 100px;
}

.stepper-div {
  //height: 100px;
}


@media all and (min-width: 800px) {
  .stepper-div    {
    flex: 3;
    order: 2
  }
  .title-tour-numbers {
    flex: 1;
    order: 1;
  }
  .prices-confirm {
    flex: 1;
    order: 3;
  }
}

@media all and (max-width: 800px) {
  .stepper-div    {
    flex: 1 auto;
    order: 2
  }
  .title-tour-numbers {
    flex: 1 auto;
    order: 1;
  }
  .prices-confirm {
    flex: 1 auto;
    order: 3;
  }
  .exp-panel-wrapper {
    display: grid;
  }
}

