/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.css";

.prime-div-tours .ui-menubar {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-tours .ui-widget-content {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-tours .ui-menuitem {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-tours .ui-menuitem-link {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-admin .ui-menubar {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-admin .ui-widget-content {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-admin .ui-menuitem {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-admin .ui-menuitem-link {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}