.top-nav {
  border: solid 0px white;
  border-radius: 2px;
  margin: 0 auto;
  top: 15px;
  position: relative;
  width: 920px;
  height: 80px;
}

.logo {
  width: 350px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('https://www.rabbies.com/application/themes/rabbies/img/rabbieslogo-mono.png');
}
