.top-nav {
  border: solid 0px white;
  border-radius: 2px;
  margin: 0 auto;
  top: 15px;
  position: relative;
  width: 920px;
  height: 80px;
}

.logo {
  position: absolute;
  left: 30px;
  top: 10px;
  cursor: pointer;
  width: 350px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('https://www.rabbies.com/application/themes/rabbies/img/rabbieslogo-mono.png');
}

.tasks {
  position: absolute;
  color: white;
  height: 20px;
  width: 20px;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.mat-menu {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 100px;
  top: 26px;
  cursor: pointer;
}

.prime-div-tours {
  position: absolute;
  height: 20px;
  width: 120px;
  left: 235px;
  top: 17px;
  cursor: pointer;
}

.prime-div-admin {
  position: absolute;
  height: 20px;
  width: 120px;
  right: 155px;
  top: 17px;
  cursor: pointer;
}

