<div class="top-nav">

  <div class="logo"></div>

  <div class="prime-div-tours">
    <p-menubar [model]="items"></p-menubar>
  </div>

  <div class="prime-div-admin">
    <p-menubar [model]="adminItems"></p-menubar>
  </div>

  <div class="mat-menu">
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-icons md-light">more_vert</mat-icon>
    </a>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon class="material-icons">print</mat-icon>
        <span>Print</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="material-icons">search</mat-icon>
        <span>Search</span>
      </button>
    </mat-menu>
  </div>

  <div class="fa fa-bell tasks" (mouseout)="onMouseOut($event)"
       (mouseover)="onMouseOverAction($event)">

  </div>

</div>
