/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.css";

.pointer {
  cursor: pointer;
}

.prime-div-tours .ui-menubar {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-tours .ui-widget-content {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-tours .ui-menuitem {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-tours .ui-menuitem-link {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-admin .ui-menubar {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
}

.prime-div-admin .ui-widget-content {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.prime-div-admin .ui-menuitem {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.prime-div-admin .ui-menuitem-link {
    background: rgba(255, 255, 255, 0) !important;
    color: white !important;
    border: solid 0px white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.summary-header .mat-form-field-label {
    color: white !important;
}

.exp-panel-wrapper .mat-list-item {
  height: 25px !important;
  font-size: 10px !important;
}

.waiting-list-panel-wrapper .mat-table {
  width: 90%;
  border: solid 1px lightgray;
}

.waiting-list-panel-wrapper .mat-cell {
  font-size: 11px;
}

.waiting-list-panel-wrapper .mat-cell .min-width-number {
  width: 50px !important;
}

.waiting-list-panel-wrapper .mat-list-item {
  height: 25px !important;
  font-size: 10px !important;
}

.new-row .mat-form-field {
  height: 25px !important;
  font-size: 10px !important;
}

.new-row .flex-item {
  width: 15% !important;
}

.exp-panel-wrapper .mat-step-label .mat-step-label-selected {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  margin: 5px 5px;
  text-align: center;
}

.exp-panel-wrapper .mat-step-header .mat-step-label .mat-step-label-active {
  color: rgba(0,0,0,.87);
  font-size: 12px !important;
  font-weight: 500 !important;
  margin: 5px 5px;
  text-align: center;
}

.mat-option {
  line-height: 24px !important;
  height: 24px !important;
  font-size: 11px;
}

.mat-form-field-small {
  width: 80px !important;
}

.mat-row {
  min-height: 38px !important;
}


/** Media Queries **/

@media all and (max-width: 800px) {
  .summary-header .mat-form-field-label {
    font-size: 10px;
  }
}

/** CSS Global Animations **/

.pulse {
  margin:0px;
  display: block;
  border-radius: 0%;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}

.pulse-once {
  margin:0px;
  display: block;
  border-radius: 0%;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s;
  animation-iteration-count: 1;
}

.pulse:hover {
  /*animation: none;*/
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 1);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    /*-moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);*/
    /*box-shadow: 0 0 0 30px rgba(204,169,44, 0);*/

    box-shadow: 0px 0px 5px 3px blue
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

