.task-panel {
  display: block;
  width: 77px;
  height: 50px;
  margin-top: 2px;
  border: solid 1px white;
  background: rgba(255, 255, 255, 0);
}

.description {
  margin: auto 0;
  color: white;
  font-size: 10px;
}

.task-red-halo {
  width: 50px;
  height:50px;
  margin:5px 5px;

  -webkit-box-shadow:0 0 20px red;
  -moz-box-shadow: 0 0 20px red;
  box-shadow:0 0 20px red;
}
