<mat-list class="header-text">
  <mat-list-item >Confirmed : {{tour.confirmed}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Reserved : {{tour.reserved}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Available : {{tour.available}}</mat-list-item>
</mat-list>
