<mat-list class="header-text" [appHalo]="{compareValue: totalCost, parent: true}">
  <mat-list-item >Total Pax: {{totalPax}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >Total Cost : £{{totalCost}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<button mat-raised-button color="primary" class="button-margin">Proceed</button>

