
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

  <ng-template matStepperIcon="fa-bus">
    <custom-icon>edit</custom-icon>
  </ng-template>

  <mat-step [stepControl]="firstFormGroup" label="Agent">
    <form class="enquiry-booking-ref-form">
      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setBookingType($event, 'Type')" [text]="'Booking Type'"
                               [options]="listService.bookingType" ></app-autocomplete-simple>
      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setBookingReference($event)" [text]="'Booking Reference'"
                               [options]="listService.bookingRefs" [required]="true"></app-autocomplete-simple>

      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setBookingAgent($event)" [text]="'Agent'"
                               [options]="listService.agentType" *ngIf="showAgent"></app-autocomplete-simple>
      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setBookingConcierge($event)" [text]="'Concierge'"
                               [options]="listService.conciergeList" *ngIf="showConcierge"></app-autocomplete-simple>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Pax" *ngIf="showPax">
    <form class="enquiry-pax-form">
      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setPax($event, 'Adults')" [text]="'Adults'"
                               [options]="listService.tourAvailability" [width]="80"></app-autocomplete-simple>
      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setPax($event, 'Seniors')" [text]="'Seniors'"
                               [options]="listService.tourAvailability" [width]="80"></app-autocomplete-simple>

      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setPax($event, 'Students')" [text]="'Students'"
                               [options]="listService.tourAvailability" [width]="80"></app-autocomplete-simple>
      <app-autocomplete-simple class="flex-item" (onOptionSelected)="setPax($event, 'Children')" [text]="'Children'"
                               [options]="listService.tourAvailability" [width]="80"></app-autocomplete-simple>
    </form>

    <form class="enquiry-pax-form">

      <app-form-field-simple class="flex-item" [hintText]="'Total'" [disabled]="true" [width]="80"
            [prefix]="'£'" [value]="adultsTotal" [appHalo]="{compareValue: adultsTotal}"></app-form-field-simple>

      <app-form-field-simple class="flex-item" [hintText]="'Total'" [disabled]="true" [width]="80"
            [prefix]="'£'" [value]="seniorsTotal" [appHalo]="{compareValue: seniorsTotal}"></app-form-field-simple>

      <app-form-field-simple class="flex-item" [hintText]="'Total'" [disabled]="true" [width]="80"
            [prefix]="'£'" [value]="studentsTotal" [appHalo]="{compareValue: studentsTotal}"></app-form-field-simple>

      <app-form-field-simple class="flex-item" [hintText]="'Total'" [disabled]="true" [width]="80"
            [prefix]="'£'" [value]="childrenTotal" [appHalo]="{compareValue: childrenTotal}"></app-form-field-simple>

    </form>
  </mat-step>

  <mat-step label="Accommodation" *ngIf="showPackageAccommodation || showFullAccommodation">

    <form class="enquiry-pax-form">
      <app-autocomplete-simple *ngIf="showFullAccommodation" class="flex-item" (onOptionSelected)="setAccommodation($event, 'First')"
             [text]="'First Choice'" [options]="listService.accommChoices" ></app-autocomplete-simple>
      <app-autocomplete-simple *ngIf="showFullAccommodation" class="flex-item" (onOptionSelected)="setAccommodation($event, 'Second')"
             [text]="'Second Choice'" [options]="listService.accommChoices" ></app-autocomplete-simple>

      <app-autocomplete-simple *ngIf="showPackageAccommodation" class="flex-item" (onOptionSelected)="setAccommodation($event, 'First')"
             [text]="'First Choice'" [options]="listService.accommChoicesAgent" ></app-autocomplete-simple>
    </form>

    <form class="acc-form" *ngIf="showPackageAccommodation">

      <form class="acc-form-center" >
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'AdultShare')" [text]="'Adult room share'"
                                 [options]="listService.roomCount" [width]="120" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Single')" [text]="'Adult single'"
                                 [options]="listService.roomCount" [width]="120" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>

        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'ChildShare')" [text]="'Child room share'"
                                 [options]="listService.roomCount" [width]="120" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>
      </form>

    </form>

    <form class="acc-form" *ngIf="showFullAccommodation">

      <form class="acc-form-left" >
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Single')" [text]="'Single'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Double')" [text]="'Double'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>

        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Twin')" [text]="'Twin'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Family')" [text]="'Family'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showFirstChoiceRooms">
        </app-autocomplete-simple>
      </form>

      <form class="acc-form-right" *ngIf="showSecondChoiceRooms">
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Single')" [text]="'Single'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
        </app-autocomplete-simple>
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Double')" [text]="'Double'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
        </app-autocomplete-simple>

        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Twin')" [text]="'Twin'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
        </app-autocomplete-simple>
        <app-autocomplete-simple class="flex-item" (onOptionSelected)="setAccommodation($event, 'Family')" [text]="'Family'"
                                 [options]="listService.roomCount" [width]="80" *ngIf="showSecondChoiceRooms">
        </app-autocomplete-simple>
      </form>

    </form>

  </mat-step>

</mat-horizontal-stepper>
