.enquiry-booking-ref-form {
  width: 90% !important;
  display: flex;
  flex-wrap: wrap;
}

.enquiry-pax-form {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.acc-form {
  width: 100% !important;
  display: flex;
  flex-wrap: nowrap;
}

.acc-form-left {
  width: 50% !important;
  display: flex;
  flex-wrap: wrap;
  padding-left: 88px;
  justify-content: flex-end;
}

.acc-form-right {
  width: 50% !important;
  display: flex;
  flex-wrap: wrap;
  padding-right: 88px;
}

.acc-form-center {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  padding: 2px 10px;
}

.flex-short-item {
  width: 80px !important;
  padding: 2px 10px;
}



