<div class="summary-container" >

  <div class="summary-header">
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-form-field class="date-chooser">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div #div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="Tours" class="min-width-number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"> Tours </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let tour"> {{tour.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Bus">
        <mat-header-cell *matHeaderCellDef mat-sort-header="bus"> Bus </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let tour"> {{tour.bus}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Drivers">
        <mat-header-cell *matHeaderCellDef mat-sort-header="driver"> Drivers </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let tour"> {{tour.driver}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Confirmed" class="min-width-number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="confirmed"> Confirmed </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let tour"> {{tour.confirmed}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Reserved" class="min-width-number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="reserved"> Reserved </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let tour"> {{tour.reserved}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Available" class="min-width-number">
        <mat-header-cell *matHeaderCellDef mat-sort-header="available"> Available </mat-header-cell>
        <mat-cell class="inline" *matCellDef="let tour"> {{tour.available}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let booking">
          <div class="icon-box font-m center-icons">
            <a title="Booking Enquiry" target="data" class="blue-icon icon-padding pointer">
              <i id="enquiryIcon" class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a title="Waiting List" target="data" class="waiting-list-icon icon-padding pointer">
              <i id="waitingIcon" class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;" class="" [appTourAction]="{tour: row}">

      </mat-row>

    </mat-table>
  </div>

</div>


