.summary-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}

.summary-header {
  min-height: 64px;
  padding: 8px 24px 0;
  margin: 0 auto;

  &.filter {
    left: 0px;
    color: white !important;
  }
}

.filter {
  padding: 5px;
}

.date-chooser {
  padding: 5px;
}

@media all and (max-width: 800px) {
  .summary-container {
    width: 98%;
  }

  .summary-header  {
    left: 0px;
    display: inline-flex;
    padding: 4px 5px 0 !important;
  }

  .filter {
    width: 40% !important;
  }

  .date-chooser {
    width: 40% !important;
  }
}



.summary-header .date-chooser {
    color: white !important;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

.blue-icon {
    color: #0275d8 !important;
}

.waiting-list-icon {
  color: green !important;
}

.min-width-number {
  width: 50px;
}
